$color-fondo: (
    color1: rgba(140, 3, 39, 0.64),
    color2: black,
    color3: white,
    color4: #8C0327,
    color5:  #D65174,
    color6: rgba(0, 0, 0, 0.55),
    color7:  #d5cd9d4a , 
    color8: rgba(240, 204, 216, 0.502),
);


    $tamanio-fuente:(
        xxxs: .75rem,
        xxs: .9375rem,
        xs: 1.25rem,
        s: 1.375rem,
        m: 1.875rem,
        l: 2.5rem,
        xl: 3rem,  
        xxxl: 10.625rem,
    );