
.card img{
    width: 100%;
    height: 40%;
}

.card-body {
    text-align: center;
    .btn{
        background-color: map-get($color-fondo , color1 );
        display: block;
        justify-items: center;
        padding: 0;
    }
}
// .card-body a{
//     background-color: map-get($color-fondo , color1 );
//     display: block;
//     justify-items: center;
//     padding: 0;
// } 