@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
/* tipografias:
font-family: "Great Vibes", cursive;
font-family: "Inria Serif", serif; */

@font-face {
    font-family: "Great Vibes", cursive;
    src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
}
@font-face{
    font-family: "Inria Serif", serif; 
    src: url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
}
