@media (max-width: 1440px){
    .titulos-de-los-circulos{
        font-size: 1.5625rem;
    }
    .parrafo-quienes-somos{
        font-size: 1.875rem;
    }
    .texto-2{
        padding-left: 2.5rem;
    }
    
}
