@media (max-width: 321px ){
    .pagina-principal,
    .pagina-principal-2{ 
        .nav-bar ul {
            gap: .3125rem;
            a{
                font-size: .625rem;
            }
        }
    }
    .parrafo-del-body{
        font-size: .9375rem;
    }
    .recetas-grid{
        grid-template-columns: (1,25rem);
        grid-template-rows: repeat (6,18.75rem);
        article img{
            width: 19.375rem;
            position: relative;
            left: .625rem;
        }
        .receta-circulo-1{
            grid-area: 1/1;
        }
        .receta-circulo-2{
            grid-area: 2/1;
        }
        .receta-circulo-3{
            grid-area: 3/1;
        }
        .receta-circulo-4{
            grid-area: 4/1;
        }
        .receta-circulo-5{
            grid-area: 5/1;
        }
        .receta-circulo-6{
            grid-area: 6/1;
        }
        .titulos-de-los-circulos{
            padding-left: 3.75rem;
            width: 18.75rem;
            font-size: map-get($tamanio-fuente, xs);
        }
        }
    .grid-recetas{
        grid-template-columns: 1,18.75rem;
        grid-template-rows: repeat(4,12.5rem);
    }
    .fondo-pagina-2{
        width: 100%;
        background-size: cover;
        background-position: center;
        .main-q{
            .grid-quienes-somos{
                grid-template-columns: 1fr;
                grid-template-rows: repeat(3,1fr);
                .texto-1{
                    font-size: 1.25rem;
                    grid-row: 2/3;
                    align-self:  center;
                }
                .texto-2{
                    padding-right: 5rem;
                    font-size: .9375rem;
                    grid-row: 3/4;
                    grid-column: 1/2;
                    align-self: flex-start;
                }
                .texto-3{
                    font-size: .9375rem;
                    align-self: end;
                    grid-row: 3/4;
                }
                .img-1 {
                    width: 12.5rem;
                    grid-column: 1;
                    grid-row: 1; 
                    position: relative;
                    right: -7.1875rem;
                    img{
                        width: 12.5rem;
                    }
                }
                .img-2{
                    width: 18.75rem;
                    img{
                        width: 16.875rem;
                    }
                }
        }
        }
    }
    .pagina-principal-3{
        .grid-recetas{
            grid-template-rows: repeat( 4,1fr);
            .receta-1, .receta-4{
                width: 18.75rem;
                .img-pizza, .img-churrasco{
                    width: 18.75rem;
                    img{
                        width: 16.875rem;
                        height: 16.875rem;
                    }
                }
                .bloque-negro-1{
                    padding: .3125rem;
                }
            }

            .receta-2{
                width: 20rem;
                .img-tostadas{
                    width: 18.75rem ;
                    position: relative;
                    left: -0.625rem;
                    img{
                        width: 16.875rem;
                    }
                }
            }
            .receta-3{
                width: 20rem;
                .img-fideos{
                    width: 16.875rem;
                    position: relative;
                    left: .625rem;
                    img{
                        width: 16.875rem;
                    }
                }
            }
            }
            .parrafo-4{
                font-size: map-get($tamanio-fuente,xxxs );
            }
            .contacto-div{
                display: block;
                padding-left: 4.375rem;
                .ubicacion{
                    p{
                        width: 12.5rem; 
                    }
                iframe{
                    width: 12.5rem;
                    height: 12.5rem;
                }
            }
            }
    label{
        font-size: 13px;
        padding-left: .625rem;
    }
    #number, #email, #nombre, #text{
        width: 12.5rem;
        margin: .625rem;
        }
    }
    }