@media (max-width:768px){
    .pagina-principal{
        .titulo-del-navegador{
            font-size: 1.5625rem;
        }
        .titulo-grande{
            font-size: 8.75rem;
        }
    }
    .parrafo-del-body{
        font-size: 1.25rem;
        margin: 1.25rem;
    }
    .recetas-grid{
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(3,1fr);
        padding-top: 2.5rem;
        row-gap: 3.75rem;
        .receta-circulo-1{
            grid-area: 1/1;
        }
        .receta-circulo-2{
            grid-area: 1/2;
        }
        .receta-circulo-3{
            grid-area: 2/1;
        }
        .receta-circulo-4{
            grid-area:2/2;
        }
    }
    .parrafo-quienes-somos{
        font-size: 1.25rem;
    }
    .grid-quienes-somos{
        grid-template-columns: repeat(3,15.625rem);
        grid-template-rows: repeat(5,12.5rem);
        .grid-quienes-somos .texto-1{
            grid-column: 2/3;
            grid-row: 3/4;
            font-size: map-get($tamanio-fuente , xs );
            padding: 1.25rem;
            align-items: start;
        }
        .texto-2{
            font-size: 1.25rem;
        }
        .texto-3{
            font-size: 1.5625rem;
            grid-area: 5/3;
        }
        .img-1{
            width: 25rem;
            grid-row: 1/2;
            grid-column: 2/4;
            position: relative;
            right: -7.1875rem;
            &:hover{
                filter: none;
                transform: none;
            }
            img{
                width: 25rem;
                transition: none;
            }
        }
        .img-2{
            width: 9.375rem;
            grid-area: 4/1 ;
        }
    }

    .grid-recetas{
        .receta-1{
            .img-pizza{
                width: 100%;
                position: relative;
                left: 3.125rem;
                img{
                    width: 25rem;
                }
            }
            .bloque-negro-1{
                padding: 2.5rem;
                p{
                    font-size: .8125rem;
                }
            }
        }
        .receta-2{
            width: 90%;
            .img-tostadas{
                width: 100%;
                img{
                    width: 20rem;
                    position: relative;
                    left: 1.5625rem;
                }
            }
        }
        .receta-3{
            width: 90%;
            height: 44.5rem;
            .img-fideos{
                width: 85%;
                position: relative;
                left: 1.6875rem;
                img{
                    width: 18.75rem;
                }
            }
        }
        .receta-4{
            height: 28.625rem;
            width: 90%;
            grid-column: 1/3;
            .img-churrasco{
                width: 100%;
                position: relative;
                left: 2.5rem;
                grid-column: 1/2;
                img{
                    width: 25rem;
                }
            }
            .bloque-negro-2{
                margin: 0;
                grid-column: 2/3;
                grid-row: 1/2;
                width: 20rem;
                h2{
                    padding: .75rem
                }
                p{
                    font-size: .9375rem;
                    padding: 0;
                }
            }
        }
    }
}