@media (max-width: 1440px){
    .titulos-de-los-circulos{
        font-size: 1.5625rem;
    }
    .parrafo-quienes-somos{
        font-size: 1.875rem;
    }
    .grid-quienes-somos{
        .texto-1{
            grid-row: 2;
            grid-column: 1/2;
            padding: 2.5rem;
        }
        .texto-2{
            padding-left: 2.5rem;
            grid-row: 3/4;
            grid-column: 2/7;
        }
        .texto-3{
            grid-row: 5/6;
            grid-column: 5/8;
        }
    }
    .pagina-principal-3{
        .titulo-pag-recetas{
            padding-top: 6.25rem;
        }
        .grid-recetas{ 
            // .receta-4{
            //     width: 85%;
            //     grid-column: 1/3;
            //     .img-churrasco{
            //         position: relative;
            //         left: -300px;
            //     }
            //     .bloque-negro-2{}
            // }
            .bloque-negro-1{
                align-self: center;
            }
        }
    }
    label{
        padding-left: 1.25rem;
    }
    #text{
        width: 33.75rem;
    }

}